*/*/node_modules
*/*/.env

/part1/unicafe/src/App.js
/part1/unicafe/src/App2.js
/part1/unicafe/src/App.css

/part2/countries/Multilingual_Weather_Conditions.csv
/part2/countries/wwoConditionCodes.txt
/part2/countries/wwoConditionCodes.xml
/part2/help-input-blank.txt

/part2/countries/countries-all.js

/part3/notes
/part3/solution

/part4/blog-list/Response*

/part6/redux-counter/MOVETHISDIRECTORY

/part9/ts-intro
/part9/ts-move-demo
/part9/ts-tutorial
/part9/thinking-in-types
/part9/fso-part9b
/part9/js-express
/part9/part2-notes
/part9/my-app

/PR