/part1/unicafe/node_modules
/part1/unicafe/src/App.js
/part1/unicafe/src/App2.js
/part1/unicafe/src/App.css
/part2/countries/.env
/part2/countries/Multilingual_Weather_Conditions.csv
/part2/countries/wwoConditionCodes.txt
/part2/countries/wwoConditionCodes.xml

